/* Add CSS Styling */
.odd {
    background-color: #FFA8B5;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second {
    color: #0000ff;
    font-size: 36px
}

.odd.third {
    font-size: 24px
}

#fourth {
    background-color: #88E788;
    font-size: 24px;
    font-weight: bold
}